@import url("https://fonts.googleapis.com/css?family=Inter&display=swap");

/* articles-topic container */

.speciality-topic-container:hover {
    color: black;
}

.speciality-topic-container {
    height: auto;
    width: 100%;
    color: black;
    background-color: transparent;
}

.learn-container {
    min-height: 80vh;
    /* width: 100%; */
}

.topicName {
    color: #111;
    font-size: 1.2rem;
}


/*  */


/* down article icon */

.article-dwn {
    /* margin-bottom: 20px !important; */
    color: #1c3144;
    transition: all 0.3s linear;
}

.article-dwn.rotate {
    color: #6e44ff;
    transform: rotateZ(180deg);
}

.read-icon {
    height: 70px;
}

.speciality-topic-container .accordion {
    margin-bottom: 40px;
    width: 100%;
}

.speciality-topic-container button .fa-angle-down {
    position: relative;
    bottom: 10px;
}


/* read book icon */

.reading-icon {
    float: right;
    opacity: 0.9;
}

.read-icon:hover {
    transform: scale(1.1);
    opacity: 1;
    font-weight: 700;
}


/* article name  */

.read {
    color: blue;
}

.read.active {
    color: tomato;
}


/*  */

.update-delete {
    display: flex;
}

.article-read {
    color: #a663cc;
}

.article-name {
    margin-left: 10px;
    color: #4A4E50;
    font-weight: 600;
    transition: 0.2s ease;
}

.article-name.active {
    color: #6e44ff;
}

.article-name:hover {
    margin-left: 40px;
    color: black;
    font-weight: 700;
}