body.dark .card-container {
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
}

body.dark .card-container .card {
    color: #fff;
}

body.dark .speciality-heading h2 {
    background-color: black !important;
    color: white;
}

body.dark .topics-ovr-cont {
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
}

body.dark .topics-ovr-cont h3 {
    color: dodgerblue;
}

body.dark .topics-ovr-cont i {
    color: #FF6978 !important;
}

body.dark .link {
    background-color: transparent !important;
}

body.dark .button-outline {
    color: #fff !important;
}